<dom-module id="pic-header-style">
  <template>
    <style>
      @font-face {
        font-family: Forte;
        src: url(../../fonts/Font_forte.ttf); }

      .header {
        width: 100%;
        position: fixed; }

      .menu {
        z-index: 10;
        width: 100% ;
        position: absolute; }

      .fake-fill-space {
        height: 5em;
        width: 100%; }

      header {
        display: inline-grid;
        grid-template-columns: 25% 50% 25%;
        top: 0px;
        margin: 0px;
        height: 5em;
        width: 100%; }

      .green_gradient {
        background-color: #4fb948;
        background-image: -webkit-linear-gradient(left, #acdc48, #4fb948);
        background-image: -o-linear-gradient(left, #acdc48, #4fb948);
        background-image: -moz-linear-gradient(left, #acdc48, #4fb948);
        background-image: linear-gradient(left, #acdc48, #4fb948); }

      .red_gradient {
        background-color: #ec0000;
        background-image: -webkit-linear-gradient(left, #ff4b00, #ec0000);
        background-image: -o-linear-gradient(left, #ff4b00, #ec0000);
        background-image: -moz-linear-gradient(left, #ff4b00, #ec0000);
        background-image: linear-gradient(left, #ff4b00, #ec0000); }

      .icon {
        display: grid;
        justify-self: start;
        align-self: center;
        margin: 0 auto; }

      .logo {
        display: grid;
        justify-self: center;
        align-self: center;
        text-align: center; }

      .logo p {
        font-family: Forte;
        color: white;
        font-size: 2em;
        margin: 0; }
    </style>
  </template>
</dom-module>