<link rel="import" href="../../js/libs/polymer/polymer.html">
<link rel="import" href="pic-header-style.html">

<dom-module id="pic-header">
  <template>
    <style include="pic-header-style"></style>
    <style></style>

    <div class="fake-fill-space"></div>
    <header>
      <div id="{{position}}-icon-menu" class="icon">
        <!-- aquí se renderiza el contenido -->
        <content></content>
      </div>
      <div class="logo">
        <p>{{logo}}</p>
      </div>
      <div id="{{position}}-icon-back" class="icon">
      </div>
    </header>
  </template>
  <script src="pic-header.js"></script>
</dom-module>