<link rel="import" href="../../js/libs/polymer/polymer.html">
<link rel="import" href="pic-category-style.html">

<dom-module id="pic-category">
  <template>
    <style include="pic-category-style"></style>
    <style></style>

    <header id={{category}}-category>
      <div></div>
      <p>{{title}}</p>
      <i aria-hidden="true" style="color: white;"></i>
    </header>
    <div class="picto-section" id={{category}}-section>
      <content></content>
    </div>
  </template>
  <script src="pic-category.js"></script>
</dom-module>