<dom-module id="pic-picto-style">
  <template>
    <style>
      :host {
        border-radius: 0.2em;
        margin: 0.25em; }
      figure {
        margin: 5px; }
      img {
        border-radius: 0.2em;
        width: 100%; }
      figcaption {
        text-align: center;
        /*word-wrap: break-word;*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;}
      .big {
        display: grid;
        width: 70%;
        justify-self: center;
        align-self: center;
        margin-bottom: 35%;
        padding: 0.6em;
        border-radius: 1em;
        box-shadow: 5px 5px rgba(136, 136, 136, 0.75); }
      .big figcaption {
        font-size: 2.2em !important; }
      }
    </style>
  </template>
</dom-module>