<jsv-header>
	<pic-header logo={{title}} position={{position}} gradient={{gradient}} backfeature={{backfeature}}>
	  <i class="fa fa-cog fa-2x" aria-hidden="true" style="color: white;" onclick="menuController.open();"></i>
	</pic-header>
</jsv-header>
<jsv-content>
	<div id="fondo-picto" class="picto-small" style="position: absolute; ">
	<div id="marco-picto"></div>
	</div>
	<jsv-list>
		<ul id="categories" data-columns={{columns}}>
			<!-- las categorías y sus pictos son añadidad via js -->
		</ul>
  </jsv-list>
</jsv-content>