<pic-header logo={{title}} position={{position}} gradient={{gradient}} feature={{feature}} backfeature={{backfeature}}>
</pic-header>
<jsv-menu>
  <micro-configuration-mobile title=""></micro-configuration-mobile>
  <div class="menu_options">
  	<jsv-option id="category-new" class="green_gradient green_border_bottom" onclick="menuController.activeMicroConfigurationMobile();">Crear Categoría</jsv-option>
  	<jsv-option id="categories-edit" class="green_gradient green_border_bottom" onclick="menuController.activeMicroConfigurationMobile();">Editar/Borrar Categoría</jsv-option>
  	<jsv-option class="green_gradient green_border_bottom" onclick="">Ordenar Categorías</jsv-option>
  	<jsv-option id="columns-conf" class="green_gradient green_border_bottom" onclick="menuController.activeMicroConfigurationMobile();">Número de columnas</jsv-option>
  	<jsv-option class="green_gradient green_border_bottom" onclick="">Activar/Desactivar audio</jsv-option>
  	<jsv-option class="green_gradient green_border_bottom" onclick="">Salir al Menú Principal</jsv-option>
  </div>
</jsv-menu>