<!-- menú principal -->
<pic-header logo={{title}} position={{position}} gradient={{gradient}} feature={{feature}} backfeature={{backfeature}}>
</pic-header>
<jsv-menu>
  <div class="menu-options">
  	<jsv-option id="categories-edit" class="green-gradient" onclick="menuController.renderCategoryList();"><p>Modificar Categoría</p></jsv-option>
  	<jsv-option id="category-new" class="green-gradient" onclick="categoryEditionController.open('picCategoryEdition');" category-id="">Crear Categoría</jsv-option>
  	<jsv-option class="green-gradient" onclick="">Ordenar Categorías</jsv-option>
  	<jsv-option id="columns-conf" class="green-gradient">
  		Tamaño de los pictogramas<br>
  		<div class="control-group">
		    <label class="control control-radio" onclick="menuController.updateStateOfColumns();">
		        Pequeños
		        <input type="radio" name="columns" value="5"/>
		        <div class="control-indicator"></div>
		    </label>
		    <label class="control control-radio" onclick="menuController.updateStateOfColumns();">
		        Medianos
		         <input type="radio" name="columns" value="3"/>
		        <div class="control-indicator"></div>
		    </label>
			</div>
  	</jsv-option>
  	<jsv-option class="green-gradient" onclick="">
  		<div class="control-group" style="grid-template-columns: 100%;">
		    <label class="control control-radio audio-menu" onclick="">
		        Audio<br>
		        <p style="font-family: 'Arial Nova', sans-serif; margin: 0; font-size: 0.7em;">(Se reproducirá la palabra del pictograma)</p>
		        <input type="radio" name="audio" value="true"/>
		        <div class="control-indicator"></div>
		    </label>
			</div>
  	</jsv-option>
  	<jsv-option class="blue-gradient" onclick="">
  		<div style="display: grid; grid-template-columns: 10% 90%; text-align: center;">
  			<i class="fa fa-bars fa-lg" aria-hidden="true" style="align-self: center;"></i><span>Salir al Menú Principal</span>
  		</div>
  	</jsv-option>
  </div>
</jsv-menu>