/*
JavaScript View, opensource library :)
This is Javascript and Love
www.javascriptview.com
contact@javascriptview.com

Here you can write your custom CSS
*/

/*Generic*/
jsv-main, jsv-container, jsv-view{
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 0px;
    bottom: 0px;
    overflow:scroll;
    z-index: 9}