<dom-module id="menu-columns-style">
  <template>
    <style>
    	:host {
        position: absolute;
        font-family: Forte;
        background-color: gold;
        left: 0px;
        width: 100%;
        margin-top: 0.3em;
        border-bottom: solid 5px darkseagreen; }
      h2 {
        margin: 0; padding: 0.3em; color: tomato; }
      .grid {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
        margin-bottom: 0.25em;
        color: white; }
      .celda {
        padding: 1.5em;
        margin: 0.1em;}
      .active {
        background-color: tomato; }
      .inactive {
        background-color: darkseagreen; }
    </style>
  </template>
</dom-module>