body {
  width: 100%;
  margin: 0px;
  font-family: 'Arial Nova', sans-serif; }

#categories {
  padding: 0;
  margin: 0; }

.picto-small {
  display: none; }

.picto-big {
  width: 100%;
  background-color: grey;
  z-index: 1;
  background: rgba(77, 76, 77, 0.79); }

#exit-icon {
  position: absolute;
  top: 2%;
  right: 4%; }

.green-gradient {
  background-color: #4fb948;
  background-image: -webkit-linear-gradient(left, #acdc48, #4fb948);
  background-image: -o-linear-gradient(left, #acdc48, #4fb948);
  background-image: -moz-linear-gradient(left, #acdc48, #4fb948);
  background-image: linear-gradient(left, #acdc48, #4fb948); }

.red-gradient {
  background-color: #ec0000;
  background-image: -webkit-linear-gradient(left, #ff4b00, #ec0000);
  background-image: -o-linear-gradient(left, #ff4b00, #ec0000);
  background-image: -moz-linear-gradient(left, #ff4b00, #ec0000);
  background-image: linear-gradient(left, #ff4b00, #ec0000); }

.blue-gradient {
  background-color: #4c68b1;
  background-image: -webkit-linear-gradient(left, #7aa7ee, #4c68b1);
  background-image: -o-linear-gradient(left, #7aa7ee, #4c68b1);
  background-image: -moz-linear-gradient(left, #7aa7ee, #4c68b1);
  background-image: linear-gradient(left, #7aa7ee, #4c68b1); }

.menu-options {
  padding-top: 0.25em;
  background-color: white;
  z-index: 2;
  width: 85%;
  margin: 10% auto; }
  .menu-options jsv-option p {
    margin: 0; }

#category-list {
  display: none;
  list-style: none;
  margin: 0 auto;
  line-height: 145%; }

.control-group {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: 50% 50%; }

.control {
  font-family: 'Arial Nova', sans-serif;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px; }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }

.control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid white; }

.control-radio, .control-indicator {
  border-radius: 0%;
  justify-self: center; }

.control-indicator:after {
  box-sizing: unset;
  font-family: FontAwesome;
  content: '\f00c';
  position: absolute;
  display: none; }

.control input:checked ~ .control-indicator:after {
  display: block; }

.control-radio .control-indicator:after {
  left: 2px;
  top: 2px; }

.audio-menu {
  justify-self: start;
  font-family: Forte;
  font-size: 1em; }

@keyframes to-left {
  0% {
    left: 0%; }
  100% {
    left: -100%; } }

@keyframes to-right {
  0% {
    left: -100%; }
  100% {
    left: -0%; } }

#picCategoryEdition {
  z-index: 10; }

#container-category-edition {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  #container-category-edition section {
    font-family: 'Arial Nova', sans-serif;
    font-size: 1.13em;
    color: white;
    margin: 5% 8% 8%; }
    #container-category-edition section p {
      line-height: 1.7em; }
  #container-category-edition input[type=text] {
    width: 100%;
    font-size: 1em;
    background: transparent;
    border: 0;
    color: white; }
  #container-category-edition input[type=text]:focus {
    outline: 0; }
  #container-category-edition #category-edition-pictos-container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; }
  #container-category-edition #category-edition-buttons {
    text-align: center; }
    #container-category-edition #category-edition-buttons input[type=button] {
      padding: 2% 12%;
      margin: 0% 1%;
      background: transparent;
      color: white;
      font-size: 0.9em;
      /* font-weight: bold; */
      border-color: white;
      border-width: 1.4px; }
